{% extends "investment_manager/base.html" %}
{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               <strong>About Linked Investment Service Product</strong> 
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
                Welcome to the Linked Investment Service Product, an innovative platform developed by Gralix Technologies for Money Acumen Advisory. Our mission is to empower investment and fund managers with a comprehensive tool to efficiently manage client portfolios, monitor asset returns, and generate detailed individual client reports. The Linked Investment Service Product is designed with the specific needs of investment professionals in mind. It serves as a central hub, enabling managers to:
                <p>
                    <ul>
                        <li><strong>Manage Client Portfolios:</strong> Seamlessly track and manage client investments, ensuring optimal portfolio performance.</li>
                        <br/>
                        <li><strong>Monitor Asset Returns:</strong> Keep a close eye on the returns of various assets, comparing actual performance against expected benchmarks.</li>
                        <br/>
                        <li><strong>Generate Detailed Reports:</strong> Produce personalized reports for each client, illustrating the performance of their investments with clear comparisons of actual vs. expected returns.</li>
                    </ul>
                </p>
            </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>Key Features</strong>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
            <div class="accordion-body">
                <ul>
                    <li><strong>Comprehensive Portfolio Management:</strong> Efficiently manage client investments, whether they involve lump sums, regular contributions, or specified monthly amounts.</li>
                    <br/>
                    <li><strong>Real-Time Monitoring:</strong> Stay updated with the latest asset returns and market trends to make informed investment decisions.</li>
                    <br/>
                    <li><strong>Customizable Reports:</strong> Generate and customize reports that meet the specific needs of your clients, providing them with transparent and insightful investment performance data.</li>
                </ul>
            </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong>About Gralix Technologies</strong>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
            <div class="accordion-body">
                <p>Gralix Technologies is dedicated to delivering cutting-edge solutions that drive efficiency and innovation in the financial sector. Our expertise in developing robust, user-friendly applications ensures that our clients receive top-notch tools to enhance their operational capabilities.</p>

                <p>For more information about our services and other projects, visit <a href="https://www.gralix.co/" target="_blank">Gralix Technologies</a> or email us at <a href="mailto:info@gralixconsulting.com" target="_blank">info@gralixconsulting.com</a></p>

                <p>Thank you for choosing the Linked Investment Service Product. We are committed to helping you achieve exceptional investment management outcomes.</p>

            </div>
        </div>
        </div>
    </div>


    
{% endblock content %}