{% extends "investment_manager/base.html" %}
{% block content %}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link" href="#" id="clientDataLink">Client Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="contributionDataLink">Contribution Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="investmentDataLink">Investment Data</a>
            </li>
        </ul>
    </div>
    <div class="card-body" id="cardContent">
        <!-- Content will be loaded here -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Load Client Data by default
        $('#cardContent').load("{% url 'client' %}");

        // Handle link clicks
        $('#clientDataLink').click(function() {
            $('#cardContent').load("{% url 'client' %}");
        });
        $('#contributionDataLink').click(function() {
            $('#cardContent').load("{% url 'client_contribution' %}");
        });
        $('#investmentDataLink').click(function() {
            $('#cardContent').load("{% url 'client_investment' %}");
        });
    });
</script>

{% endblock %}
