{% extends "investment_manager/base.html" %}
{% block content %}

<div>
    <table class="table table-striped table-bordered table-sm table-hover caption-top">
        <caption><h4>List of Clients</h4></caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">Client Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">NRC</th>
            <th scope="col">Risk Level</th>
            <th scope="col">Financial Goal</th>
            <th scope="col">Amount</th>
            <th scope="col">Frequency</th>
            <th scope="col">Final Target</th>
            <th scope="col">Currency</th>
          </tr>
        </thead>
        <tbody>
            {% if clients %}
                {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.client_nrc }}</td>
                        <td>{{ client.risk_level.capitalize }}</td>
                        <td>{{ client.financial_goal.capitalize }}</td>
                        <td>{{ client.expected_monthly_contribution }}</td>
                        <td>{{ client.contribution_frequency.capitalize }}</td>
                        <td>{{ client.target_amount }}</td>
                        <td>{{ client.currency.upper }}</td>
                    </tr>
                    {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
        
    
{% endblock content %}
