{% extends "investment_manager/base.html" %}
{% block content %}
<div class="container">
    <div class="card col-sm-8">
        <h5 class="card-header">Client Contributions Summary:</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Client Name:</strong></td>
                        <td>{{ client_data.full_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Number of Contributions:</strong></td>
                        <td>{{ total_contributions }}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Amount Contributed:</strong></td>
                        <td>{{ total_amount_contributed }}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Fees:</strong></td>
                        <td>{{ total_fees }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'create_contribution' client_data.id %}" class="btn btn-primary">Add Contribution</a>
        </div>
    </div><br>

    <div>
        <table class="table table-striped table-bordered table-sm table-hover caption-top">
            <caption>List of Contributions</caption>
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Date Received</th>
                    <th scope="col">Amount Received</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Fees</th>
                    <th scope="col">Investable Amount</th>
                    <th scope="col">Manager</th>
                </tr>
            </thead>
            <tbody>
                {% if contributions %}
                    {% for contribution in contributions %}
                        <tr>
                            <td>{{ contribution.id }}</td>
                            <td>{{ contribution.client }}</td>
                            <td>{{ contribution.date }}</td>
                            <td>{{ contribution.contribution_amount }}</td>
                            <td>{{ contribution.get_payment_method_display }}</td>
                            <td>{{ contribution.fees }}</td>
                            <td>{{ contribution.investable_amount }}</td>
                            <td>{{ contribution.get_manager_full_name }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'home' %}" class="btn btn-primary">Back <</a>
</div>
{% endblock %}
